---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitHub.astro';
import MailIcon from '../icons/Mail.astro';
---

<Layout 
	title="Portfolio Victor Mosquera | Fullstack and Web3 Developer "
	description='Victor Mosquera is a Fullstack and Web3 Developer. He is available for hire. Contact him on LinkedIn or GitHub.'
>

	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">

			<!-- section image -->
			<img 
				class="rounded-full size-12 mb-4" 
				src="https://media.licdn.com/dms/image/D4E03AQGjBJot71FUEw/profile-displayphoto-shrink_200_200/0/1720049039634?e=2147483647&v=beta&t=kmNul_tVn598QGdoQz870CYWROabVHk0iYNIdHWOOJY" 
				alt="victor photo"
			/>

			<!-- section title -->
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, I'm Victor Mosquera
				<a 
					href="https://www.linkedin.com/in/victor-mosquera-capy" 
					target="_blank" 
					rel="noopener" 
					class="flex justify-center items-center">
					<Badge>Available for hire</Badge>
				</a> 
			</h1>

			<!-- section text -->
			<h2 class="text-2xl opacity-80 text-wrap">
				<span>
					+4 years of experience.
				</span>
				<span class="text-yellow-200/90">
					Full stack Web development and Web3 development.
				</span>
				<span class="text-blue-200/90">
					From Medellin, Colombia. 
				</span>
				<span class="opacity-85">
					Specialized in creating unique applications.
				</span>
			</h2>

			<!-- section links -->
			<nav class="flex gap-x-4 mt-8">
				<SocialPill href="https://www.linkedin.com/in/victor-mosquera-capy">
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/viktorhugo">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="https://github.com/viktorhugo">
					<MailIcon class="size-6" />
					viktor1103@gmail.com
				</SocialPill>
			</nav>

		</section>
	</main>
</Layout>
