---
import ExperienceItem from "./experienceItem.astro"

const EXPERIENCE = [
    {
        title: "Web3 and Fullstack Developer - Evolution Systems B.V.",
        date: "Actually",
        description: `Software development, research and development, support and bug fixing, source code management, and documentation.
            Server installation and maintenance.
            Implemented a PWA for the exchange, sale, and purchase of NFTs to and from other marketplaces on the XRP Ledger network.
            Developed an administrative dashboard for transaction verification, process management,offers, and payments.
            Implemented a PWA for p2p betting on the XRP Ledger network and developed an administrative panel for payment verification and user transactions.`,
        link: '#'
    },
    {
        title: "Flowbite Library v1.2.2",
        date: "Released on December 2nd, 2021",
        description: "Get started with dozens of web components and interactive elements built on top of Tailwind CSS.",
        link: '#'
    },
    {
        title: "Flowbite Library v1.2.2",
        date: "Released on December 2nd, 2021",
        description: "Get started with dozens of web components and interactive elements built on top of Tailwind CSS.",
        link: '#'
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">    
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-6">
                <ExperienceItem { ...experience } />
            </li>
        ))
    }              
</ol>

